<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.change.demox">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".application.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".views.textview.TextViewActivity"/>
        <activity android:name=".views.recyclerview.RecyclerActivity" />
        <activity android:name=".views.ViewActivity" />
        <activity android:name=".licenses.LicensesActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- host: DYNAMIC_LINK_URIPREFIX去掉最后反斜线 -->
                <data
                    android:host="https://demox.page.link"
                    android:scheme="https" />
            </intent-filter>


        </activity>
        <activity android:name=".themecolor.waytwo.DynamicThemeColorActivity" />
        <activity android:name=".themecolor.waytwo.SecondActivity" />
        <activity android:name=".ucrop.UcropActivity" /> <!-- ucrop 内置Activity -->
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="fullSensor"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".views.spinner.SpinnerActivity" />
        <activity android:name=".views.recyclerview.muti.RecyclerviewCategoryActivity" />
        <activity android:name=".views.recyclerview.ceiling.RecyclerviewCeilingActivity" />
        <activity android:name=".views.recyclerview.ceilingTwo.RecyclerviewCeilingTwoActivity" />
        <activity android:name=".views.edittext.EditTextActivity" />
        <activity android:name=".views.edittext.EditTextAddDeleteActivity" />
        <activity android:name=".views.edittext.EditTextPasswordActivity" />
        <activity android:name=".pdf.PdfShowActivity" />
        <activity android:name=".views.bottomsheet.BottomSheetActivity" />
        <activity android:name=".views.bottomsheet.infragment.BottomSheetFragmentActivity" />
        <activity android:name=".views.bottomsheet.BottomSheetRootActivity" />
        <activity android:name=".views.recyclerview.paging.onlyshow.PagingFragmentActivity" />
        <activity android:name=".views.recyclerview.paging.delete.PagingDeleteActivity" />
        <activity android:name=".views.imageview.ImageViewActivity" />
        <activity android:name="com.change.demox.views.imageview.viewTag.ViewTagActivity" />
        <activity android:name=".views.slideview.SlideViewActivity" />
        <activity android:name=".views.tutorial.TutorialActivity" />
        <activity android:name=".views.dialog.DialogActivity" />
        <activity android:name=".views.dialog.dialogfragment.DialogFragmentActivity" />
        <activity android:name=".views.webview.TermActivity" />
        <activity android:name=".views.webview.WebViewActivity" />
        <activity android:name=".views.webview.WebViewJsActivity" />
        <activity android:name=".views.recyclerview.figillustration.FigRootActivity" />
        <activity android:name=".views.recyclerview.banner.BannerRootActivity" />
        <activity android:name=".views.collapsingtoolbarlayout.ProfileHomePageActivity" />
        <activity android:name=".views.flexboxlayout.FlexboxLayoutRootActivity" />
        <activity android:name=".views.webview.webcache.WebViewCacheActivity" />
        <activity android:name=".views.qrcode.QrcodeActivity" />
        <activity android:name=".views.qrcode.scan.CustomScanActivity" />
        <activity android:name=".views.browser.BrowserActivity" />
        <activity android:name=".views.webview.WebViewGetHtmlContentActivity" />
        <activity android:name=".views.firebase.FirebaseRootActivity" />
        <activity android:name=".views.firebase.FirebaseTwitterActivity" />
        <activity android:name=".views.googlemap.GoogleMapStartActivity" />
        <activity android:name=".views.webview.WebViewTryActivity" />
        <activity android:name=".views.firebase.dynamiclink.FirebaseDynamicLinkActivity" />
    </application>

</manifest>